html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: arial,sans-serif;
    font-size: 12px;
}

#search-bar {
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    background-color: #ffffff;
    border-color: #dfe1e5;
    height: 40px;
    width: 400px;
    overflow: auto; 
    margin: auto;
    position: absolute;
    top: 100px; 
    left: 0; 
    bottom: 0; 
    right: 0; 
}

.main-container {
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100%;
}

#logo {
    position: relative;
    top: 40%;
    left: 50%;
    margin: -46px 0 0 -136px;
}

#button1, #button2 {
    background-color: #f4f4f4;
    border-radius: 3px;
    border: solid;
    border-color: #f4f4f4;
    border-width: 1px;
    height: 40px;
    padding: 0px 20px;
    color: #4a4e50;
    font-size: 14px; 
}

#button1 {
    margin-right: 5px;
}

#button2 {
    margin-left: 5px;
}

#button2:hover, #button1:hover{
    border: solid;
    border-width: 1px;
    color:#131313;
    border-color: lightgray;
} 

#text-button-container {
    position: relative;
    top: 62%;
    text-align: center;
}

#text-container {
    position: relative;
    top: 64%;
    text-align: center;
}

#text-container a {
    color: blue;
}

.header-container {
    height: 40px;
    width: 100%;
}

.header-container ul li:nth-child(-n+2) {
    float:left;
}

.header-container ul li {
    float: right;
    padding: 13px 8px;
}

.header-container ul li:first-child {
    padding-left: 30px;
}

.header-container ul li:nth-child(4) {
    padding: 6.5px;
}

.header-container ul li:nth-child(3) {
    padding: 6.5px;
    padding-left: 8px;
    padding-right: 30px;
}

#sign-on-button {
    background-color: #4386f8;
    font-weight: bold;
    border: none;
    color: white;
    padding: 5px 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

.footer-container {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.footer-container ul li:first-child {
    padding-left: 30px;
}

.footer-container ul li:nth-child(3) {
    padding-right: 30px;
}

.footer-container ul li:nth-child(-n+2) {
    float:left;
}

.footer-container ul li {
    float: right;
    padding: 13px 15px;
}

a { 
    text-decoration: none;
    color: #4a4e50;
}

a:hover {
    text-decoration: underline;
}

